{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="text-center">
            <h1>Regístrate</h1>
    </div>
 	<div class="row tex">
 		<div class="col-md-offset-4 col-md-4">
            <form class="form form-horizontal" method="post" role="form" novalidate>
                {{ form.hidden_tag() }}


                <p>Antes de registrarte es necesario que leas los términos y condiciones de uso de la página.</p>
                <p>
                    <a href="{{ url_for('main.terms_and_conditions')}}">Lee los términos y condiciones aquí</a>
                    {{ wtf.form_field(form.consent_bool) }}
                </p>

                <br><br>
                <p>
                    Espacios requeridos marcados con asterisco (*)
                </p>

                <p>
                    {{ wtf.form_field(form.username)}}
                </p>
                <p>
                    {{ wtf.form_field(form.name)}}
                </p>
                <p>
                    {{ wtf.form_field(form.last_name)}}
                </p>
{#                 <p>
                    {{ wtf.form_field(form.age) }}
                </p>
                <p>
                    {{ wtf.form_field(form.rut) }}
                </p>
                <p>
                    {{ wtf.form_field(form.gender) }}
                </p> #}
                <p>
                    {{ wtf.form_field(form.phone) }}
                </p>
                <p>
                    {{ wtf.form_field(form.email) }}
                </p>
                <p>
                    {{ wtf.form_field(form.email2) }}
                </p>
                <p>
                    {{ wtf.form_field(form.password) }}
                </p>
                <p>
                    {{ wtf.form_field(form.password2) }}
                </p>
                <p>
                    {{ wtf.form_field(form.verification_code) }}
                </p>

                <br>

                <p>
                    {{ form.submit(class="btn btn-default") }}
                </p>
            </form>
 		</div>
 	</div>
{% endblock %}