{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
	<div class="text-center">
		<h1>Añadir Pregunta</h1>
	</div>
	 <div class="row">
 		<div class="col-md-offset-4 col-md-4">
 			{{ wtf.quick_form(question_form) }}
 		</div>
 	</div>

 	<div class="text-center">
		<h1>Añadir Respuesta</h1>
	</div>
	 <div class="row">
 		<div class="col-md-offset-4 col-md-4">
 			{{ wtf.quick_form(answer_form) }}
 		</div>
 	</div>

 	<div class="text-center">
		<h1>Linkear Preguntas</h1>
	</div>
	 <div class="row">
 		<div class="col-md-offset-4 col-md-4">
 			{{ wtf.quick_form(link_form) }}
 		</div>
 	</div>
{% endblock %}