{% extends "base.html" %}

{% block app_content %}
	{% if current_user.doctor %}
	<div class="google-form-container">
		<iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSdR7N6gKdWzHEnpZgv-iPCQf18xqCI2b-RY2LR40PGjuCj1TA/viewform?embedded=true">Loading…</iframe>
	</div>
	{% else %}
		<div class="google-form-container">
		{% if not has_visited %}
			<iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSewjpB2efRuUKWeDb4zbIpHMZjnt45NdpZeBt1JjHXu41poJw/viewform?usp=pp_url&entry.1992635449={{ current_user.name + ' ' + current_user.last_name }}&entry.164868={{ current_user.phone }}&entry.1458945363={{ current_user.email }}&entry.434043300={{ current_user.age }}&entry.132029952={{ current_user.gender }}">Loading…</iframe>
		{% else %}
			<iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSewjpB2efRuUKWeDb4zbIpHMZjnt45NdpZeBt1JjHXu41poJw/viewform?embedded=true">Loading…</iframe>
		{% endif %}
		</div>
	{% endif %}
{% endblock %}