{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block app_content %}
	{% if current_user.doctor %}
	<div class="google-form-container">
		<iframe class="responsive-iframe" src="https://docs.google.com/forms/d/e/1FAIpQLSdR7N6gKdWzHEnpZgv-iPCQf18xqCI2b-RY2LR40PGjuCj1TA/viewform?embedded=true">Loading…</iframe>
	</div>
	{% else %}

	<div class="text-center questionaire">
		{% for question in section.questions.all() %}
			{% if question.question_type == "hd" %}
				<h1>{{ question.title }}</h1>
				{% if question.description != 'nan' %}
					<p>{{ question.description }}</p>
				{% endif %}
			{% endif %}
		{% endfor %}
	</div>

	{% if section.id > 1%}
		{% set prev_section = section.get_previous_section() %}
	{% endif %}	

	<div class="questionaire col-md-offset-1 col-md-10">
		<div class="text-center">
{# 			{% if form['special_form']  %}

					{{ wtf.quick_form(form)}}
					<a href="{{ url_for('forms.questionaire', section_id=prev_section) }}" class="btn btn-default">Atrás</a>

			{% else %} #}
			<form method="post" role="form" novalidate>
			{{ form.hidden_tag() }}
				{% for field in form if field.widget.input_type != 'hidden' %}
					{% if field.type != "SubmitField" %}
						<br>
		  				{% if field.type == "IntegerRangeField" %}
			  				<span class="disappear" style="margin-right: 1em">Totalmente en desacuerdo (0)</span> <span class="bar">{{ field(class="horizontal", required='required') }}</span> <span class="disappear" style="margin-left: 1em">Totalmente de acuerdo (10)</span><br>
			  				<output for="fader" id="output{{ field.render_kw['class'] }}">
			  					{{ field.render_kw['default_text'] }}
			  				</output><br>
			  				{# {{ field(size=32, class="horizontal", required='required') }} #}
			  			{% elif field.type == "SelectField" %}
			  				{{ wtf.form_field(field) }}

			  			{% elif field.type == "BooleanField" %}
			  				{{ wtf.form_field(field) }}
		  				{% else %}
		  					<h4>{{ field.label }}</h4>
		  					{{ field(size=32) }}
		  					{% if field.description %}
		  					<br>{{ field.description }}
		  					{% endif %}
		  				{% endif %}
		  			{% endif %}
		  			<br>
		  			{% for error in field.errors %}
            			<span style="color: red;">[{{ error }}]</span>
            		{% endfor %}
				{% endfor %}
					{% if prev_section %}
					{% if section.tail %}
						<a href="{{ url_for('main.index') }}" class="btn btn-default">Inicio</a>
					{% else %}
					<a href="{{ url_for('forms.questionaire', section_id=prev_section) }}" class="btn btn-default">Atrás</a>
					{% endif %}
					{% endif %}
					{# {{ form.previous(class="btn btn-default") }} #}
				{% if not section.tail %}
					{# <a href="{{ url_for('forms.questionaire', section_id=prev_section) }}" class="btn btn-default">Atrás</a> #}
					{{ form.next(class="btn btn-default") }}
				{% endif %}
			</form>
			{# {% endif %} #}
		</div>
	</div>
	{% endif %}
{% endblock %}