{% extends "base.html" %}

{# CSS: call_to_action, responsive_iframe #}

{% block app_content %}
	<div class="text-center sm-query">
	<h1>Bienvenidx a la consulta salud!</h1>
	<br>
	<div class="video-container">
		<iframe class="responsive-iframe" src="https://www.youtube.com/embed/t3Fq5JrfnRw" title="Instrucciones Cuestionario" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br>
	<p class="text-center">
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('auth.register') }}" class="muted_action">Registrate</a> o 
		<a href="{{ url_for('auth.login') }}" class="muted_action"> Inicia sesión</a> para comenzar.
		{% else %}
		<a href="{{ url_for('forms.questionaire') }}" class="btn btn-lg btn-info">Estoy listo!</a>
		{% endif %}
	</p>
	</div>
{% endblock %}