.video-container {
  position: relative;
  overflow: hidden;
  margin-left: 0%;
  width: 100%;
  /*padding-top: 39.37%;  16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  padding-top: 56.25%;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.right-space-small {
  margin-right: 2%;
}

.right-space-medium {
  margin-right: 5%;
}

.right-space-large {
  margin-right: 8%;
}

.container {
  background: #fff;
  padding-bottom: 2em;
}

body {
  background-image: url("/static/images/w_consulta_b_small.jpg");
  background-repeat: space;
}