<img src="https://chilexchile.cl/pixel/pixel_email/{{ verification_code }}" width="1" height="1">

<div style="margin-left: auto; margin-right: auto; width: 100%;">

	<div style="max-width: 600px; display: block;">
		<h1 style="text-transform: uppercase; font-weight: bold; text-align: center;">Hola!</h1>

		<p>Estamos cerca de la elección presidencial, la cual ha sido antecedida por una profunda crisis política, social, así como también sanitaria que dio cuenta de la necesidad de realizar reformas importantes a nuestro sistema de salud, reformas que deben recoger los intereses, opiniones, preferencias, necesidades y distintas perspectivas, tanto de la ciudadanía como de los agentes relevantes que pueden incidir es estas reformas.</p>

		<p>En este contexto el Colegio Médico de Chile, a través de la Fundación Tribu, ha iniciado un proceso de consulta ciudadana, el cual permitirá identificar y/o profundizar diferentes alternativas que sean consideradas más deseables  y así desde esas conclusiones poder elaborar un programa de reformas en salud que no solo refleje lo técnico sino que también las necesidades y consideraciones de las personas.</p>

		<p><b>¿Cómo funciona esta consulta?</b></p>

		<p>1. Con este <b>enlace y código único</b> podrás registrarte de manera fácil y rápida en nuestra plataforma para así contestar la encuesta que tomará aproximadamente 25 minutos.</p>

		<p style="text-align: center;"><b><a href="https://www.chilexchile.cl/">Click acá para ir a la página web de consulta</a><br><br>
		Código de registro: {{ verification_code }}</b></p>

		<p>Una vez que te hayas registrado solo debes “Iniciar Sesión” con el nombre de usuario y contraseña que hayas creado especialmente para esta plataforma.</p>

		<p>Por el solo hecho de contestar la encuesta habrá una compensación de $8.000, la transferencia se realizará entre los días 22 y 30 de Noviembre de 2021. Para esto, te preguntaremos al final del formulario tus preferencias y datos para hacer la transferencia.</p>

		<p><b>El plazo para contestar esta encuesta es el día Miércoles  10 de Noviembre a las 22:00 hrs.</b></p>

		<p>2. A continuación, entre quienes contestaron la encuesta se realizará una selección vía sorteo para participar en un proceso deliberativo. El día y hora será informado una vez realizado el sorteo. Esta etapa concluye con una encuesta de cierre.</p>

		<p>Las personas que participen en esta etapa de la consulta recibirán una compensación de $15.000 a través de transferencia bancaria dos semanas después de haber completado y enviado la encuesta de cierre.</p>

		<p>
		<i>Si tienes preguntas o inquietudes, por favor no dudes en contactarnos al email delibera@tribu.ong o al whatsapp +56 9 73103575</i>
		</p>
		 
		<p>Saludos cordiales,<br>
		Colegio Médico de Chile
		</p>
	</div>
</div>

