<header style="align-content: center;"><img src="https://chilexchile.cl/static/images/email_header.jpg"></header>

<p><b>Hola {{ name }}!</b></p>

<p>Junto con saludarte y tal como te comentamos en el email anterior, queremos <b>invitarte a repensar nuestro sistema de salud.</b> Para esto el Colegio Médico ha impulsado una consulta ciudadana que tiene como objetivo recoger los intereses, opiniones, preferencias, necesidades y distintas perspectivas de la ciudadanía.</p>

<p><b>Tu opinión importa</b>, y es por eso que te invitamos a pensar en el sistema de salud que queremos para Chile. ¿Cómo? participando en esta consulta ciudadana y proceso deliberativo, el cual permitirá identificar y/o profundizar diferentes alternativas que sean consideradas más deseables para todas y todos, así desde esas conclusiones poder proponer reformas en salud que no solo reflejen lo técnico sino que también las necesidades y consideraciones de todas las personas.</p>

<p><b>¿Cómo funciona esta consulta?</b></p>

<p>1. Con este enlace y código único podrás registrarte de manera fácil y rápida en nuestra plataforma para así contestar la encuesta que tomará aproximadamente 25 minutos.</p>

<p><b><a href="https://www.chilexchile.cl/">Click acá para ir a la página web de consulta</a><br>
Código de registro: {{ verification_code }}</b></p>

<p>Por el solo hecho de contestar la encuesta habrá una compensación de $8.000, la transferencia se realizará el día 01 de Noviembre de 2021. Para esto, te preguntaremos al final del formulario tus preferencias y datos para hacer la transferencia.</p>

<p>2. A continuación, entre quienes contestaron la encuesta se realizará una selección vía sorteo para participar en un proceso deliberativo. Ell día y hora será informado una vez realizado el sorteo. Esta etapa concluye con una encuesta de cierre.
Las personas que participen en esta etapa de la consulta recibirán una compensación de $15.000 a través de transferencia bancaria luego de haber completado y enviado la encuesta de cierre, la fecha de transferencia será informada al momento de la convocatoria.</p>

<p>
<i>Si tienes preguntas o inquietudes, por favor no dudes en contactarnos al email delibera@tribu.ong o al whatsapp +56 9 73103575</i>
</p>
 
<p>Saludos cordiales, 
Fundacion Tribu</p>

<img src="https://chilexchile.cl/pixel/pixel_email/{{ verification_code }}" width="1" height="1">