<img src="https://chilexchile.cl/pixel/pixel_email/{{ verification_code }}" width="1" height="1">

<div style="margin-left: auto; margin-right: auto; width: 100%;">
	<img style="display: block; width: 100%; height: auto; max-width: 600px;" src="https://chilexchile.cl/static/images/email_header_2_1.jpg" alt="email header">

	<div style="max-width: 600px; display: block;">
		<h1 style="text-transform: uppercase; font-weight: bold; text-align: center;">Hola {{ name }}!</h1>

		<p>Junto con saludarte y esperando que hayas tenido un buen Domingo, queríamos recordarte que ya faltan pocos días para contestar la encuesta. También te comentamos que como lo mencionamos en nuestro primer email, todas y todos quienes contesten antes del mediodía, la compensación se realizará hoy Lunes 01 de Noviembre.  A quienes contesten la encuesta con posterioridad, la transferencia se realizará el día Lunes 8 de Noviembre.</p>

		<p>
		<i>Si tienes preguntas o inquietudes, por favor no dudes en contactarnos al email delibera@tribu.ong o al whatsapp +56 9 73103575</i>
		</p>
		 
		<p>Saludos cordiales,<br>
		Colegio Médico de Chile</p>

		<img src="https://chilexchile.cl/pixel/seguimiento29/{{ verification_code }}" width="1" height="1">
	</div>
</div>
