<img src="https://chilexchile.cl/pixel/pixel_email/{{ verification_code }}" width="1" height="1">

<div style="margin-left: auto; margin-right: auto; width: 100%;">
	<img style="display: block; width: 100%; height: auto; max-width: 600px;" src="https://chilexchile.cl/static/images/email_header_2_1.jpg" alt="email header">

	<div style="max-width: 600px; display: block;">
		<h1 style="text-transform: uppercase; font-weight: bold; text-align: center;">Hola {{ name }}!</h1>

		Junto con saludarte y tal como te comentamos en el email anterior, queremos invitarte a repensar nuestro sistema de salud. Para esto el <b>Colegio Médico de Chile</b> a través de <b>Fundación Tribu</b> ha impulsado una consulta ciudadana que tiene como objetivo recoger los intereses, opiniones, preferencias, necesidades y distintas <b>perspectivas de la ciudadanía.</b></p>

		<p><b>Te invitamos a repensar en el sistema de salud que queremos para Chile.</b> ¿Cómo? participando en esta consulta ciudadana y proceso deliberativo, el cual permitirá identificar y/o profundizar diferentes alternativas que sean consideradas más deseables para todas y todos, así desde esas conclusiones poder proponer reformas en salud que no solo reflejen lo técnico, sino que también las <b>necesidades y consideraciones de todas las personas.</b></p>

		<p><b>¿Cómo funciona esta consulta?</b></p>

		<p>1. Con este <b>enlace y código único</b> podrás registrarte de manera fácil y rápida en nuestra plataforma para así contestar la encuesta que tomará aproximadamente 25 minutos.</p>

		<p style="text-align: center;"><b><a href="https://www.chilexchile.cl/">Click acá para ir a la página web de consulta</a><br><br>
		Código de registro: {{ verification_code }}</b></p>

		<p>Por el solo hecho de contestar la encuesta habrá una compensación de <b>$8.000</b>, la transferencia se realizará el día <b>01 de Noviembre de 2021</b>. Para esto, te preguntaremos al final del formulario tus preferencias y datos para hacer la transferencia.</p>

		<p>2. A continuación, <b>entre quienes contestaron la encuesta se realizará una selección vía sorteo para participar en un proceso deliberativo.</b> El día y hora será informado una vez realizado el sorteo. Esta etapa concluye con una encuesta de cierre.</p>

		<p>Las personas que participen en esta etapa de la consulta recibirán una compensación de <b>$15.000</b> a través de transferencia bancaria luego de haber completado y enviado la encuesta de cierre, la fecha de transferencia será informada al momento de la convocatoria.</p>

		<p>
		<i>Si tienes preguntas o inquietudes, por favor no dudes en contactarnos al email delibera@tribu.ong o al whatsapp +56 9 73103575</i>
		</p>
		 
		<p>Saludos cordiales,<br>
		Colegio Médico de Chile</p>

		<img src="https://chilexchile.cl/pixel/seguimiento29/{{ verification_code }}" width="1" height="1">
	</div>
</div>
