{% extends 'bootstrap/base.html' %}

{% block head %}
	{{ super() }}
	<script src="https://use.fontawesome.com/e9d9405e58.js" crossorigin="anonymous"></script>
{% endblock %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}



{% block title %}
	Bienvenido a Polis!
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-default text-center" style="padding: 0 0 1% 0;">
		<br>
		<a href="{{ url_for('main.index') }}" class="btn btn-info btn-lg 
		{{ 'active' if request.path == url_for('main.index') else '' }}" >
		<i class="fa fa-home"></i> <span class="disappear">Inicio</span></a>

		<a href="{{ url_for('main.instructions') }}" class="btn btn-info btn-lg
		{{ 'active' if request.path == url_for('main.instructions') else '' }}" >
	    <i class="fa fa-book"></i> <span class="disappear">Instrucciones</span></a>

		{% if current_user.is_anonymous %}
		<a href="{{ url_for('auth.register') }}" class="btn btn-info btn-lg
		{{ 'active' if request.path == url_for('auth.register') else '' }}" >
		<i class="fa fa-user-plus"></i> <span class="disappear">Registrarse</span></a>

		<a href="{{ url_for('auth.login') }}" class="btn btn-info btn-lg
		{{ 'active' if request.path == url_for('auth.login') else '' }}" >
		<i class="fa fa-user-circle"></i> <span class="disappear">Iniciar Sesión</span></a>
		{% else %}
		<a href="{{ url_for('auth.logout') }}" class="btn btn-info btn-lg
		{{ 'active' if request.path == url_for('auth.logout') else '' }}">
		<i class="fa fa-user-times"></i> <span class="disappear">Cerrar Sesión</span></a>
		{% endif %}
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}

		{% block app_content %}
		{% endblock %}
	</div>
{% endblock %}