{% extends "base.html" %}

{# CSS: call_to_action, responsive_iframe #}

{% block app_content %}
	<div class="text-center">
	<h2>Un video corto sobre cómo funciona polis...</h1>
	<br>
	<div class="video-container">
		<iframe class="responsive-iframe" src="https://www.youtube.com/embed/tvqlt7OWTOk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<br>
	<p class="text-center">
		{% if current_user.is_anonymous %}
		<a href="{{ url_for('register') }}" class="muted_action">Registrate</a> o 
		<a href="{{ url_for('login') }}" class="muted_action"> Inicia sesión</a> para comenzar.
		{% else %}
		<a href="{{ url_for('polis') }}" class="btn btn-lg btn-info">Estoy listo!</a>
		{% endif %}
	</p>
	</div>
{% endblock %}